<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">
<div class="row">
    <div class="well col-lg-2 col-sm-12" style="color:red"></div>

<div class="well col-lg-8 col-sm-12" style="color:red">
<h3 class="text-center">
<h1><%= message %></h1>
<%= error.status %>

<pre><%= error.stack %></pre>
</div>
    <div class="well col-lg-2 col-sm-12" style="color:red"></div>

</div></div>

</body>



