<!DOCTYPE html>
<html>
<% include par/head%>
<% include par/nav%>
<body>

<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-1 bg-bei" >
<br><br><br><br>
</div>

<div class="col-sm-10" >
<div align="center">
<br>


</div><!-- /center-->
</div><!-- /col12-->

<div class="col-sm-1 bg-bei" >
<br><br><br><br>

</div>
</div><!-- /row-->


</div><!-- /container-fluid-->

<% include par/foot %>
</body>
</html>

