<!DOCTYPE html>
<html>
<% include par/head%>
<% include par/nav%>
<body>

<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-1 bg-bei" >
<br><br><br><br>
<span class="p-1 mx-3" style="font-size:48px;color:gray"> < </span>
</div>

<div class="col-sm-10" >
<div align="center">
<br>

<%= mon %>
<% include par/cal %>

</div><!-- /center-->
</div><!-- /col12-->

<div class="col-sm-1 bg-bei" >
<br><br><br><br>

<span class="py-8 mx-3"style="font-size:48px;color:gray"> > </span>
</div>
</div><!-- /row-->


</div><!-- /container-fluid-->

<% include par/foot %>
</body>
</html>

