<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<!--menu-->
<% include par/nav %>
<!--menu-->

<div class="row">
    <div class="col-md-1 col-xs-12" ></div>


    <div class="col-md-10 col-xs-12" >
        <p align="center">  <%= par %>月</p>
    <% include par/cal %>

    <div class="col-md-1 col-xs-12" ></div>
</div><!-- row -->


</div>


<br>
<div class="footer"><% include par/foot %></div>


</body>

